.modal_container_principal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;
}

.modal_container_principal.is_open {
    display: flex;
}

.modal_cerrar {
    position: absolute;
    width: 100%;
    height: 100vh;
    border: none;
    background-color: rgba(0, 0, 0, 0.507);
}

.modal_card {
    background-color: rgb(244, 248, 252);
    width: 80%;
    height: auto;
    z-index: 2;
    border-radius: 15px;
    overflow-y: auto;
    margin-top: 80px;
}

.modal_card_pdf {
    background-color: rgb(244, 248, 252);
    width: 70%;
    height: 95vh;
    z-index: 2;
    border-radius: 15px;
    overflow-y: auto;
    margin-top: 20px;
}

/* para el modal sm  */
.modal_card_sm {
    background-color: rgb(244, 248, 252);
    width: 400px;
    height: auto;
    z-index: 2;
    border-radius: 15px;
    overflow-y: auto;
    margin-top: 80px;
}


/* para el modal md  */
.modal_card_md {
    background-color: rgb(244, 248, 252);
    width: 60%;
    height: auto;
    z-index: 2;
    border-radius: 15px;
    overflow-y: auto;
    margin-top: 80px;
}

.modal_title {
    width: 100%;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    background-color: #000A34;
    color: #fff;
    z-index: 2;
}

.modal_title_pdf {
    width: 100%;
    position: sticky;
    display: flex;
    top: 0;
    justify-content: flex-start;
    background-color: #a31919;
}

.modal_title_pdf button {
    position: absolute;
    left: 0;
    color: #000;
    background-color: #fff;
    margin-right: 10px;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.modal_title_pdf span {
    display: none;
    position: absolute;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 10px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.modal_title_pdf:hover span {
    display: block;
}

.modal_title button {
    position: absolute;
    right: 0;
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.modal_title h3 {
    text-align: center;
    font-size: 18px;
    padding: 5px;
}

.modal_title_red {
    width: 100%;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    background-color: #a31919;
    color: #fff;
    z-index: 2;
}

.modal_title_red button {
    position: absolute;
    right: 0;
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.modal_title_red h3 {
    text-align: center;
    font-size: 18px;
    padding: 5px;
}

.modal_title_azul {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b85aa;
    color: #fff;
    z-index: 2;
}

.modal_title_azul h3 {
    text-align: center;
    font-size: 18px;
    padding: 5px;
}

.modal_title_azul button {
    position: absolute;
    right: 0;
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.modal_content {
    padding: 10px;
}

.font_span_input {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    font-size: 10px;
    line-height: 1px;
    letter-spacing: 1px;
    color: #121213;
    font-weight: 600;
    transform: scale(0.9, 1.6);
}

/* par los iframes  */
.iframe_pdf {
    width: 100%;
    height: 90vh;
}

.iframe_pdf iframe, .iframe_pdf embed{
    width: 100%;
    height: 90vh;
}

@media (max-width: 767px) {
    .modal_card {
        width: 90%;
    }

    .modal_card_pdf {
        width: 95%;
    }

    .modal_card_md {
        width: 90%;
    }
}

@media (max-width: 575px) {
    .font_span_input {
        margin-bottom: 22px;
        /* transform: scale(1, 1); */
        justify-content: flex-start;
    }
}

@media (max-width: 425px) {
    .modal_card_sm {
        width: 90%;
    }
}